body, html {
    height: 100%;
    margin: 0;
    overflow: hidden;
}
.playground-container {
    position: relative;
    width: 100%;
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: #454545;
}
.card {
    border-color: #333 !important;
}
.card-body {
    background-color: #575757 !important;
    color: #ddd !important;
}
textarea {
    background-color: #6a6a6a !important;
    color: white !important;
    border-color: #454545 !important;
}
#gamePlayGround {
    max-width: 100%;
    max-height: 100%;
    object-fit: contain;
}
.connection-log-overlay {
    position: absolute;
    top: 70px;
    right: 20px;
    width: 800px;
    max-height: 80%;
    overflow-y: auto;
    z-index: 1050;
}
.editorOverlay {
    position: absolute;
    bottom: 0;
    left: 0;
    right: 0;
    padding: 1rem;
    transition: transform 0.3s ease-in-out;
    z-index: 1050;
}
.editorOverlay.hidden {
    transform: translateY(100%);
}
