<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Drone-Game dashboard</title>
    <script src="/static/mqtt.min.js"></script>
    <script type="module" src="/static/client.js"></script>
</head>
<body>
<div class="clientLog">
    <h2>Verbonden cliënten</h2>
    <div id="clientConnectionLog">
</div>
<div class="playground">
    <h2>Speelveld</h2>
    <canvas id="gamePlayGround" width=1000 height=600></canvas>
</div>

</div>
<script type="module">
    import { Dashboard } from "/static/dashboard.js"
    import { GameClient } from "/static/client.js";

    const client = new GameClient("dashboard", ["clients/drone-game/#"]);
    const dashboard = new Dashboard(client);
</script>
</body>
</html>